.section-container{
    display: flex;
    justify-content: space-evenly;
    height: 33%
}

.service-container{
    display: flex;
    background-color: var(--color-primary);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 75px;
    width: 100%
}

.background-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #172B4D;
    height: 100vh;
}

.service-title{
    font-size: 50px;
}
