.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2.5em;
    width: 100%;
}

.left-container {
    display: inherit;
    flex-direction: inherit;
    gap: 2em;
}

.logo {
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-decoration: none;
}

.nav-items {
    display: inherit;
    flex-direction: inherit;
    gap: 3em;
    list-style-type: none;
}

.nav-items a {
    text-decoration: none;
}