@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&display=swap');

:root {
  --color-primary: #3f4a49;
  --color-primary-light: #DBD9D0;
  --color-secondary-light: #DDAB97;
  --color-secondary: #d4967d;
  --color-white: #ffffff;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
}